.app {
  text-align: center;
} 

.logo {
  width: 80%;
  margin: 30px auto;
}

.logo img {
  width: 100%;
}


@media(min-width: 768px ) {
  .patient-view,
  .consultation-view{
    width: 500px;
    margin: 40px auto;
    padding-bottom: 20px; 
  }
}

/* @media(min-width: 1440px) {
  .patient-view {
    width: 60%;
    margin: 40px auto;
    padding-bottom: 20px; 
  }
} */