.container {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: column;
  background: #000;
  opacity: 0.95;
  color: #fafafa;
  z-index: 2;
  transition: height 0.3s ease 0s;
}

.menu-list {
  padding-top: '3rem',
}