/* Colors:
  white: #fff
  Pearl acqua(darker): #52897B
  Magic mint(lighter): #A5FFD6
  light salmon pink: #FFA69E
  Pastel red: #FF686B
  grey: #8492A6
*/
@import url('https://fonts.googleapis.com/css?family=Oswald&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #A5FFD6;
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */

.uppercase {
  text-transform: uppercase;
}

section {
  margin-top: 50px;
}

a{
  text-decoration: none;
  color: inherit;
}

form {
  display: flex;
  align-items: center;
  flex-direction: column;
}

form > input {
  width: 240px;
  height: 40px;
  margin: 5px 20px;
  border-radius: 30px;
  border: none;
  padding: 7px;
}

form > input:focus {
  outline: none;
}
